/* global styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --blue:#00D7D7;
    --black:#222222;
    --white:#F7F7F7;
    --mainTransition:all 0.5s ease;
}

a{
    text-decoration: none;
}

body{
    font-family:'Montserrat', sans-serif;
}

html{
	scroll-behavior: smooth;
}
.section_subtitle{
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    letter-spacing: 0.4rem;
}
.part-blue{
    color: var(--blue);
}
h2{
    font-weight: lighter;
}

/* nav */
.nav{
    height: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav__logo{
    width: 10%;
}
.nav__logo__item{
    width: 100%;
}
.nav__menu{
    width: 70%;
    text-align: center;
}
.nav__menu__items{
    font-size: 1rem;
    margin:0.4rem;
    text-transform: capitalize;
    color: var(--black);
    font-weight: bold;
    transition: var(--mainTransition);
}
.nav__menu__items:hover{
    font-size: 1.3rem;
    color: var(--blue);
}
.nav__icons{
    width: 10%;
}
.nav__icons__items{
    cursor: pointer;
    color: var(--blue);
    font-size: 1.2rem;
    margin: 0.4rem;
    transition: var(--mainTransition);
}
.nav__icons__items:hover{
    color: var(--black);
}

/* banner */
.banner{
    background:linear-gradient(rgba(63, 208, 212, 0.8), rgba(0, 0, 0, 0.7)), url("/images/main.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: calc(100vh - 5rem);
    background-blend-mode: multiply;
   display: flex;
   justify-content: center;
   align-items: center;
}
.banner__content{
    text-align: center;
}
.banner__title{
    color: var(--white);
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: lighter;
    margin:1rem;
    letter-spacing: 0.5rem;
}
.banner__text{
color: var(--white);
font-size: 1.3rem;
font-weight: lighter;
margin-top:1.5rem;
margin-bottom:3rem;
}

.banner__button{
    color: var(--white);
    text-transform: uppercase;
    border: 1px solid var(--white);
    padding: 0.7rem;
    letter-spacing: 0.3rem;
    transition: var(--mainTransition);
}
.banner__button:hover{
    background-color: var(--white);
    color: var(--black);
}

/* about */
.about{
    height: 100vh;
    text-align: center;
}

.about__content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85vw;
    margin: 4rem auto 2rem auto;
}
.about__content__img{
    width: 50%;
    margin: 1rem 3rem;
    position: relative;
}
.about__content__img::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.5rem solid var(--blue);
    top: -1.5rem;
    left: -1.5rem;
}
.about__content__img__item{
    width: 100%;
    display: block;
    position: relative;
    top:0.7rem;
    left: 1rem;
}
.about__content__block{
    width: 50%;
}
.about__content__title{
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: normal;
    margin: 1rem 0;
    letter-spacing: 0.2rem;
}
.about__content__text{
    text-align:justify;
    font-size: 1rem;
    font-weight: lighter;
    letter-spacing: 0.2rem;
    margin:1.5rem auto 3rem auto;
}
.about__content__button{
    text-transform: capitalize;
    background-color: var(--blue);
    padding:1rem 2rem;
    color: var(--white);
    font-size: 1.3rem;
    border-radius: 1rem 2rem;
    transition: var(--mainTransition);
}
.about__content__button:hover{
    background-color: var(--black);
}

/* services */
.services{
    height: 100vh;
    background:url("/images/services.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services__container{
    text-align: center;
    background:rgba(255,255,255,0.8);
}
.services__content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 2rem;

}
.services__content__items{
    margin: auto 1rem auto 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services__content__icons{
    background-color: var(--blue);
    padding: 1.5rem;
}
.services__icons{
    font-size: 1.5rem;
}
.services__content__infos{
    text-align: left;
    margin-left: 1rem;
}
.services__infos__title{
text-transform: uppercase;
font-weight: bold;
letter-spacing: 0.2rem;
margin-bottom: 1rem;
}

/* featured */

.featured{
    height: auto;
    text-align: center;
}
.featured__content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.card__tours{
    width: 25%;
    height: auto;
    margin: 1rem 1.5rem 1rem 1.5rem;
    box-shadow:2px 5px 3px 0px rgba(0,0,0,0.25);
    cursor: pointer;
    transition: var(--mainTransition);
}
.card__tours:hover{
    box-shadow:2px 10px 3px 0px rgba(0,0,0,0.50);
}
.card__img{
    position: relative;
}
.card__img__items{
    width: 100%;
}
.card__img__text{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--blue);
    padding: 0.5rem 1rem;
    font-weight: lighter;
    letter-spacing: 0.2rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.card__text{
    height: 5rem;
}
.card__text__title{
    font-weight: bold;
    letter-spacing: 0.3rem;
    text-transform: capitalize;
    margin: 0.5rem;
}
.card__text__infos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 3.5rem;
}
.card__text__infos-map{
    text-align: left;
    color: var(--blue);
    font-weight: bold;
}
.card__text__infos-price{
    text-align: right;
    font-weight: lighter;
}
.featured__button{
    margin: 4rem;
}
.featured__button__item{
    text-transform: capitalize;
    background-color: var(--blue);
    padding:1rem 2rem;
    color: var(--white);
    font-size: 1.3rem;
    border-radius: 1rem 2rem;
    transition: var(--mainTransition);
}
.featured__button__item:hover{
    background-color: var(--black);
}

/* gallery */
.gallery{
    height: 100vh;
    background-color: rgb(193, 236, 243);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gallery__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.gallery__img{
    margin: 1rem;
    width: 30%;
    position: relative;
    background-color: var(--blue);
    cursor: pointer;
}
.gallery__img__items{
    width: 100%;
    
}
.gallery__img__icon{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 3rem;
    color: var(--white);
    opacity: 0;
    transition: var(--mainTransition);
}
.gallery__img:hover .gallery__img__icon{
    opacity: 1;
}

/* modal */
   
.work-modal{
            display: none;
        }  
        /* class JS */
        .work-modal--show{
            position:fixed;
            background: rgba(0,0,0,0.5);
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 999;
            display: grid;
            justify-content: center;
            align-items: center;
        }
        /* end of class JS */

        .work-modal__item{
            background: url('../images/tour-1.jpeg')center/cover;
            height: 70vh;
            width: 80vw;
            border:0.5rem solid var(--yellow);
            border-radius: 0.4rem;
        }
        
        @media screen and (min-width:768px){
        .work-modal__item{
            height: 80vh;
            width: 60vw;
        }
        }
    
        .work-modal__close{
        position: fixed;
        font-size: 2.5rem;
        color: var(--white);
        bottom: 5%;
        right: 5%;
        transition: all 0.3s linear;
        cursor: pointer;
        display: inline-block;
        }
        
        .work-modal__close:hover{
            color:var(--blue);
        }

/* contact */
.contact{
    text-align: center;
    height: 30vh;
}
.contact__form__input{
    width: 60%;
    font-size: 1.3rem;
    height: 2rem;
    border: 1px solid var(--blue);
    outline:none;
    text-transform: uppercase;
}
.contact__form__submit{
    width: 10%;
    font-size: 1.3rem;
    height: 2rem;
    background-color: var(--blue);
    border:none;
    color: var(--white);
    text-transform: uppercase;
    cursor: pointer;
    transition: var(--mainTransition);
    outline: none;
}
.contact__form__submit:hover{
    background-color: var(--black);
}
.contact__thanks{
    display: none;
    margin: 1.5rem;
    text-transform: uppercase;
    font-weight: bolder;
    color: var(--blue);
    letter-spacing: 0.3rem;
    font-size: 1.5rem;
}


/*footer*/
.footer{
    background-color: var(--black);
    height: 40vh;
    color: var(--white);
    text-align: center;
    padding: 5rem;
}
.footer__links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.footer__links__items{
    color: var(--white);
    text-transform: capitalize;
    margin-right: 1rem;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    transition: var(--mainTransition);
}
.footer__links__items:hover{
    color: var(--blue);
}
.footer__icons{
    margin-top: 2.5rem;
}
.footer__icons__items{
    font-size: 2rem;
    margin-right: 1.5rem;
    cursor: pointer;
    transition: var(--mainTransition);
}
.footer__icons__items:hover{
color: var(--blue);
}
.copyright{
    margin-top: 2rem;
    text-transform: capitalize;
    letter-spacing: 0.3rem;
    font-weight: lighter;
}